@tailwind base;
@tailwind components;
@tailwind utilities;

 @media(min-width: 1020px){
    .bg-hero{
        width: 2000px;
        height: 300px;
        left: 30px;
        @apply absolute rounded-l-full top-52 bg-blue-500;
    }
 }